<div class="container" id="resultado-container">
	<div class="row">
		<div class="col-md-12 mx-auto text-center" id="resultado">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Periodo</th>
			      <th scope="col">Receita Liquida</th>
			      <th scope="col">Custo Fixo</th>
			      <th scope="col">Comissao</th>
			      <th scope="col">Lucro</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr class="filas-template d-none">
			      <td class="periodo"></td>
			      <td class="receita_liquida"></td>
			      <td class="custo_fixo"></td>
			      <td class="comissao"></td>
			      <td class="lucro"></td>
			    </tr>
			    
			  </tbody>
			</table>
		</div>
	</div>
</div>