<div class="container d-none mt-4" id="resultado-grafico">
	<div class="row">
		<div class="col-md-12">
			<div id="graficoContainer" style="height: 300px; width: 100%;"></div>
		</div>
	</div>
</div>